SMDM\ 2018/
share/
results/
research\ day\ slide/
*.json
*.Rproj
.DS_Store
*.sublime-project
*.sublime-workspace
multi\ R\ file.R
msi\ files/
include/
etc/
*.rdb
bin/
__pycache__/
.Python
.Rhistory
.Rproj.user/
sensitivity\ CEA.R
sensitivity\ CEA_RR.R
powerlawCalc.R
network\ animaltion.R


## exclude library except for netSTI folder
!lib/
lib/*
!lib/python3.7/
lib/python3.7/*
!lib/python3.7/site-packages/
lib/python3.7/site-packages/*
!lib/python3.7/site-packages/netSTI/
!lib/python3.7/site-packages/netSTI/tests/
